@charset "UTF-8";
.App {
  text-align: center;
  font-size: 30px;
  margin: 20px auto;
  font-family: sans-serif;
  width: 480px;
  height: 345px;
  display: flex; }
  .App__container {
    width: 240px; }
  .App__btns-container {
    display: flex;
    flex-flow: row wrap;
    background: #d6d6d6;
    justify-content: space-between;
    border-left: 1px solid #8e8e8e;
    height: 275px; }
  .App__btn {
    height: 55px;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-right: 1px solid #8e8e8e;
    border-bottom: 1px solid #8e8e8e; }
    .App__btn:active {
      background: #c8c8c8;
      box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.62); }
  .App__screen-container {
    position: relative; }
  .App__screen {
    height: 70px;
    background: #999999;
    color: #fff;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    padding: 0 15px;
    font-size: 40px;
    text-align: right;
    border: none; }
    .App__screen::placeholder {
      color: #fff; }
  .App__operator {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 13px;
    color: #fff; }
  .App__log {
    border: 1px solid #8e8e8e;
    width: 240px;
    border-left: none;
    padding: 10px;
    font-size: 14px;
    text-align: left;
    overflow-y: scroll; }

[data-val='0'] {
  width: 50%;
  justify-content: left;
  padding-left: 20px; }

[data-val='AC'] {
  font-size: 20px; }

[data-val='±'] {
  font-size: 25px; }

[data-val='%'] {
  font-size: 20px; }

[data-val='/'], [data-val='*'], [data-val='-'], [data-val='+'], [data-val='='] {
  background: #f89148;
  color: #fff; }
  [data-val='/']:active, [data-val='*']:active, [data-val='-']:active, [data-val='+']:active, [data-val='=']:active {
    background: #de7b44; }
